@use "./global";
@use "./componentsStyles";
@use "./utils/" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

.home h3 {
  font-size: rem(44);
  font-weight: 700;
  letter-spacing: rem(-1);
  line-height: rem(48);
  color: #fff;

  @include breakpoint-down(small) {
    font-size: rem(40);
  }

  @include breakpoint-down(smaller) {
    font-size: rem(30);
  }

  @include breakpoint-down(smallest) {
    font-size: rem(20);
    line-height: rem(30);
  }
}

.home p {
  font-size: rem(13);
  font-weight: 700;
  letter-spacing: rem(2);
  line-height: rem(20);

  @include breakpoint-down(small) {
    font-size: rem(10);
  }

  @include breakpoint-down(smaller) {
    font-size: rem(8);
    line-height: rem(10);
  }
}

.home-sermons {
  background-image: url("/testimonil-1.jpg");
  background-size: cover;
  background-position: center;
}
