@use "./global";
@use "./componentsStyles";
@use "./utils/" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

.home h3 {
  font-size: rem(44);
  font-weight: 700;
  letter-spacing: rem(-1);
  line-height: rem(48);
  color: #fff;

  @include breakpoint-down(small) {
    font-size: rem(40);
  }

  @include breakpoint-down(smaller) {
    font-size: rem(30);
  }

  @include breakpoint-down(smallest) {
    font-size: rem(20);
    line-height: rem(30);
  }
}

.home-sermons {
  background-image: url("/home/PST-COLLINS-001-scaled.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-giving {
  position: relative;
  background-image: url("/home/cheerfulgiver.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.home-giving::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity */
  z-index: -1;
}

body {
  overflow: hidden;
}

footer {
  background-image: url("/footer-bg-judaism.jpg");
  background-repeat: no-repeat;
}

.footer-cover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 10%, #282828 30%);
}
