@use "./global";
@use "./componentsStyles";
@use "./utils/" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: rem(57);
  font-weight: 700;
  letter-spacing: rem(-2.1);
  line-height: rem(60);
}

h2 {
  font-size: rem(47);
  font-weight: 700;
  letter-spacing: rem(-0.9);
  line-height: rem(47);
  color: #230c00;
}

h3 {
  font-size: rem(44);
  font-weight: 700;
  letter-spacing: rem(-1);
  line-height: rem(48);
  color: #fff;

  @include breakpoint-down(small) {
    font-size: rem(40);
  }

  @include breakpoint-down(smaller) {
    font-size: rem(30);
  }

  @include breakpoint-down(smallest) {
    font-size: rem(20);
    line-height: rem(30);
  }
}

p {
  font-size: rem(13);
  font-weight: 700;
  letter-spacing: rem(2);
  line-height: rem(20);

  @include breakpoint-down(small) {
    font-size: rem(10);
  }

  @include breakpoint-down(smaller) {
    font-size: rem(8);
    line-height: rem(10);
  }
}
